# Variáveis de provedor
regiao = "us-east-1"
perfil = "terraform"

# Seleção de recursos a serem criados
create_subnet_infra   = false
create_iam            = true
create_securitygroups = true
create_eks            = true
create_nodegroup      = true

# Parâmetros adicionais de configuração

project_name = "case-sre"
eks_cluster_version = "1.34"

# Variáveis de fallback
# Exemplo de parâmetros de Rede

existing_vpc_id            = "vpc-1234567890"
existing_private_subnet_ids = ["subnet-aaa", "subnet-bbb", "subnet-ccc"]
existing_public_subnet_ids  = ["subnet-xxx", "subnet-yyy", "subnet-zzz"]